*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.about-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px 0px;
    background: radial-gradient(closest-corner at 15%  75% , #8c2f4c, #0F1123);
   
}

.about-container > span > h1 > .pine{
    color: #18d5fe ;
    text-decoration: none;
}

.about-container > span > .about-box{
    width: 70%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
  
    color: white;
    gap: 10px;

}

.about-box > .line{
    width: 95%;
    border: 1px solid grey;
    margin: 20px 0px;
}

.about-container > span {
    width: 68%;
    display: flex;
    gap: 30px;
 
}

.about-container > span > h1{
    color: white;
    font-weight: lighter;
    margin: 70px 0px;
}

.about-box > h2{
    color: white;
}
.about-box > p{
    color:whitesmoke;
    line-height: 30px;
}

.about-box > span{
    display: flex;
    flex-direction: column;
    gap: 30px;
}


.faq-mother{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color:#0F1123;
    padding: 10px 50px;
}

.faq-mother > h1{
    margin-top: 50px ;
    color: white;
}

.faq-box{
    width: 98%;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    column-gap: 10px;
    row-gap: 10px;
    margin: 20px 0px;
}

.faq-box > .box > span{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
    padding:10px ;
    gap: 10px;
    border-radius: 5px;
    color: white;
    box-shadow: 0px 0px 3px  lightgray;
    
}


.faq-box > .box > span > .fa-solid{
    color:#18d5fe;
}

.faq-box > .box > span > .fa-regular{
    color:#18d5fe;
    font-size: 1.6rem;
}

.faq-box > .box > span > p{
    width: 80%;
    text-align: center;
}




.faq-box > .box > .answer-box{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:10px ;
    border:  0.5px solid lightgray;
    border-radius: 5px;
    margin: 8px 0px;
    
}

.answer-box > p{
    text-align: center;
    line-height: 1.5rem;
    color: white;
}

@media screen and (max-width:650px) {
    .about-container{
        width: 100%;
        flex-direction: column;
    }

    .about-container > span{
        width: 100%;
        flex-direction: column;
        padding: 0px 10px;
    }

    .about-container > span > .about-box{
        width: 100%;
    }

    .about-container > span > h1{
        margin: 10px 0px;
    }


  .faq-mother{ 
    width: 100%;
    height: fit-content;
    padding: 10px;
  }

  .faq-box{
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
  }

  .faq-box > .box{
    width: 100%;
   justify-content: flex-start;
  
  }


.faq-box > .box > span{
    width: 100%;

}

.faq-box > .box > .answer-box{
    min-width: 100%;
  }
}


@media screen and (max-width:768px) {
    .about-container{
        width: 100%;
    }

    .about-container > span{
        width: 100%;
        padding: 10px;
    }


  .faq-mother{
    width: 100%;
    height: fit-content;
    padding: 10px;
    gap: 10px;
  }
    
}