* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

.home-mother {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: radial-gradient(closest-corner at 30% 50% ,  #252BBE,#0F1123 ) ;
  padding: 50px 70px;
}

.home-mother > .home-box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.home-box > .homebox-card {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 70px;
  animation: card 1.8s ease-in-out alternate infinite;
}

@keyframes card {
  0% {
    scale: 1.1;
  }

  100% {
    scale: 1;
  }
}

.homebox-card > img {
  width: 100%;
  height: 90%;
}

.home-box > h1 {
  font-size: 3.5rem;
  color: white;
}

.home-box > p {
  color:white;
  font-size: 1.1rem;
}

.home-box > button {
  padding: 20px 30px;
  background-color: #18d5fe;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  outline: none;
  margin: 15px 0px;
  color: white;
  font-weight: bold;
}

.home-container1 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#0F1123 ;
}

.home-container1 > .home-box1 {
  width: 100%;
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;

}

.home-box1 > h1 {
  color: #18d5fe;
  margin: 30px 0px;
  font-size: 3rem;
}
.home-box1 > h3 {
  color: #18d5fe;
  margin: 10px 0px;
  font-size: 1.3rem;
}

.home-box1 > p {
  color:white;
  line-height: 1.6rem;
  margin: 10px 0px;
}

.home-box1 > img {
  width: 90%;
  height: 60%;
}

.home-box1 > button {
  padding: 15px 30px;
  border: none;
  outline: none;
  cursor: pointer;
  background: linear-gradient(to right, #18d5fe, #4364c4);
  margin: 20px 0px;
  color: white;
}

.home-container2{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    background-color: #0F1123;
}

.home-container2 > span > h1{
    margin: 40px 0px;
    color: white;
}


.homecontainer2-inner{
    width: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;

}


.homecontainer2-inner > .home-box2{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
}

.home-box2 > span > h3{
    margin: 15px 0px;
    color:#18d5fe;
    font-size: 1.5rem;
}

.home-box2 > span > p{
    margin: 15px 0px;
    color: white;
}

.home-box2 > .fa-solid{
   color: #18d5fe;
   font-size: 3rem;
   margin-top: 20px;
}

.faq-mother{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color:#0F1123;
    padding: 10px 50px;
}

.faq-mother > h1{
    margin-top: 50px ;
    color: white;
}

.faq-box{
    width: 98%;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    column-gap: 8px;
    row-gap: 3px;
    margin: 20px 0px;
}

.faq-box > .box > span{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
    padding:10px ;
    gap: 10px;
    border-radius: 5px;
    background-color:white;
    box-shadow: 0px 0px 10px  lightgray;
    
}


.faq-box > .box > span > .fa-solid{
    color:#18d5fe;
}

.faq-box > .box > span > .fa-regular{
    color:#18d5fe;
    font-size: 1.6rem;
}

.faq-box > .box > span > p{
    width: 80%;
    text-align: center;
}




.faq-box > .box > .answer-box{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:10px ;
    background-color: white;
    border-radius: 5px;
    margin: 8px 0px;
}

.answer-box > p{
    text-align: center;
    line-height: 1.5rem;
    color: grey;
}



@media screen and (max-width: 650px) {
  .home-mother {
    width: 100%;
    flex-direction: column;
    padding: 0px 10px;
  }

  .home-mother > .home-box {
    width: 100%;
   
  }

  .home-box > h1 {
    font-size: 1.9rem;
  }

  .home-box > .homebox-card {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  
  .home-container1 {
    width: 100%;
    flex-direction: column;
  }
  
  .home-container1 > .home-box1 {
    width: 100%;
    height: 450px;
    padding: 0px 10px;

  }
  
  .home-container1 > .home-box1 > img{
    width: 100%;
    height: 35%;

  }

  .home-box1 > h1{
    font-size: 2.3rem;
  }

  .home-box1 > p{
    font-size: 1.1rem;
  }

  .home-box1 > h3{
    font-size: 1.1rem;
  }

  .home-box1 > img{
    width: 100%;
    height: 30%;
  }

  .home-container2{
    width: 100%;
    height: fit-content;
    padding: 20px 0px;

}

.home-container2 > span > h1{
    font-size: 1.6rem;
}

.homecontainer2-inner{
      width: 100%;
      flex-direction: column;

  }

  .homecontainer2-inner > .home-box2{
    width: 100%;
    gap: 10px;
  }

  .home-box2 > .fa-solid{
    font-size: 1.9rem;
  }

  .faq-mother{ 
    width: 100%;
    height: fit-content;
    padding: 10px;
  }

  .faq-box{
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
  }

  .faq-box > .box{
    width: 100%;
   justify-content: flex-start;
  
  }


.faq-box > .box > span{
    width: 100%;

}

.faq-box > .box > .answer-box{
    min-width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .home-mother {
    width: 100%;
    flex-direction: column;
  }

  .home-container1{
    width: 100%;
    flex-direction: column;
  }

  .homecontainer2-inner{
    width: 100%;
  }

  .faq-mother{
    width: 100%;
    height: fit-content;
    padding: 10px;
    gap: 10px;
  }

 
  
}



.top-crypto-container {
    text-align: center;
    width: 100%;
    overflow: auto;
    background-color:#0F1123;
    color: white;
  }

 
  
  .crypto-table {
    width: 90%;
    padding: 10px 0px;
    margin: auto;

  }

  td {
    padding: 10px;
    color:#18d5fe;
  }

  th {
    padding: 10px;
  }