* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}


.home-mother {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 70px;
}


.home-container1 {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(to top,#0F1123,  #30083e );

}

.home-container1 > .home-box1 {
  width: 40%;
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.home-box1 > h1 {
  color: #18d5fe;
  margin: 30px 0px;
  font-size: 3rem;
}
.home-box1 > h3 {
  color: #18d5fe;
  margin: 10px 0px;
  font-size: 1.3rem;
}

.home-box1 > p {
  color:white;
  line-height: 1.6rem;
  margin: 10px 0px;
}

.home-box1 > img {
  width: 60%;
  height: 60%;

}

.home-box1 > .getstarted-link{
  padding: 15px 30px;
  border: none;
  outline: none;
  cursor: pointer;
  background: linear-gradient(to right, #18d5fe, #b037dd);
  margin: 20px 0px;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.home-container2{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    background: linear-gradient(to top,  #b037dd, #0F1123 80% );
   
}

.home-container2 > span > h1{
    margin: 40px 0px;
    color: white;
}


.homecontainer2-inner{
    width: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;

}


.homecontainer2-inner > .home-box2{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
}

.home-box2 > span > h3{
    margin: 15px 0px;
    color:#18d5fe;
    font-size: 1.5rem;
}

.home-box2 > span > p{
    margin: 15px 0px;
    color: white;
}

.home-box2 > .fa-solid{
   color: #18d5fe;
   font-size: 3rem;
   margin-top: 20px;
}


.corevalue-mother{
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(closest-corner at  70%, #b037dd, #0F1123 );
}

.corevalue-container1{
  width: 100%;
  margin: 200px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  box-shadow: 0px 0px 3px lightgray;
  border-radius: 10%;
  background-color: rgba(255, 255, 255, 0.05);

}

.corevalue-container1 > h1{
  margin-top: 70px;
  font-size: 3rem;
}

.corevalue-container2{
  width: 80%;
  display: grid;
  color: white;
  grid-template-columns: repeat(3, 3fr);
  column-gap: 20px;
  row-gap: 20px;
  margin: 70px 0px;
}

.core-line{
  width: 100%;
  border: 0.1px solid grey;
  margin: 10px 0px;
}

.corevalue-container2 > .core-box > p{
  color:lightgray;
  margin: 15px 0px;
  line-height: 30px;
}

.home-container3{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: radial-gradient(closest-corner at  70%, #b037dd, #0F1123 );
}

.home-container4{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0F1123;
  flex-direction: column;
  padding: 20px 120px;
}

.home-container4 > h2{
  color: white;
}


.home-container4 > span > h1{
  color:white;
  margin: 40px 0px;
  font-weight: lighter;
}

.home-container4 > span > h1 > .pine{
  color: #18d5fe;
  text-decoration: none;
}




.platform-container{
  width: 80%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  color: white;
  flex-direction: column;
}

.platform-box1{
  width: 100%;
  display: flex;
  padding: 10px;
  gap: 20px;
  margin-top: 20px;

}

.platform-box2{
  width: 100%;
  display: flex;
  padding: 10px;
  gap: 20px;
}

 .platform-box2 > .box{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.platform-box2 > .box > h3{
  color: lightgrey;
}

.platform-box2 > .box > .fa-solid {
  font-size: 3rem;
  margin: 50px 0px;
  color: #18d5fe;
}

.platform-box2 > .box > .fa-regular{
  font-size: 3rem;
  margin: 50px 0px;
  color: #18d5fe;
}

.platform-box2 > .box > .fa-brands{
  font-size: 3rem;
  margin: 50px 0px;
  color: #18d5fe;

}

.platform-box2 > .box > .fa-brands{
  font-size: 3rem;
  margin: 50px 0px;
  color: #18d5fe;

}

.platform-box2 > .box > span > .fa-solid{
  font-size: 3rem;
  position: relative;
  margin: 50px 0px;
  color: #18d5fe;
  left: 15px;
}

@media screen and (max-width:650px) {
  .platform-container{
    width: 100%;
  }

  .platform-box1{
    width: 100%;
    flex-direction: column;
  }

  .platform-box1 > span{
    width: 100%;
  }

  .platform-box2{
    width: 100%;
    overflow: auto;
  }

   .platform-box2 > .box{
    min-width: 50%;
  }
  
}




@media screen and (max-width: 768px) {
  .home-mother {
    width: 100%;
    flex-direction: column;
  }


  .homecontainer2-inner{
    width: 100%;
    height: fit-content;
  }

  .corevalue-container2{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2, 3fr);
  }

  .platform-container{
    width: 100%;
  }


  .platform-box2 > .box{
    width: 80%;
  }

  

}




@media screen and (max-width: 650px) {
  .home-mother {
    width: 100%;
    flex-direction: column;
    padding: 0px 10px;
  }

  .home-mother > .home-box {
    width: 100%;
   
  }

  .home-box > h1 {
    font-size: 1.9rem;
  }

  .home-box > .homebox-card {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  
  .home-container1 {
    width: 100%;
    flex-direction: column-reverse;
    padding: 20px;
  }
  
  .home-container1 > .home-box1 {
    width: 100%;
    height: fit-content;
    padding: 0px 10px;
    margin: 30px 0px;

  }
  

  .home-box1 > h1{
    font-size: 2.3rem;
  }

  .home-box1 > p{
    font-size: 1.1rem;
  }

  .home-box1 > h3{
    font-size: 1.1rem;
  }

  .home-box1 > img{
    width: 100%;
    height: 35%;
    margin-top: 15px;
  }

  .home-container2{
    width: 100%;
    height: fit-content;
    padding: 20px 0px;

}

.home-container2 > span > h1{
    font-size: 1.6rem;
}

.homecontainer2-inner{
      width: 100%;
      flex-direction: column;

  }

  .homecontainer2-inner > .home-box2{
    width: 100%;
    gap: 10px;
  }

  .home-box2 > .fa-solid{
    font-size: 1.9rem;
  }

  .corevalue-mother{
    width: 100%;
  }

  .corevalue-container1{
    width: 100%;
    border-radius: 30px;
  }

  .corevalue-container2{
    width: 90%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin: 10px 0px ;
  }

  .home-container4{
    width: 100%;
    padding: 20px 10px;
  }

 

}


h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.swiper-container {
  width: 100%;
  height: 90vh;
  margin: 0 auto;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  object-fit: fill;
}

.swiper-slide img:hover {
  transform: scale(1.05);
}



.info {
  flex: 1;
  position: absolute;
  top: 0%;
  width: 100%;
  height: 100%;
  background-color: rgba(14,17,35, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  transition: transform 0.3s ease-in-out;
}



.info:hover {
  transform: scale(1.05);
}

.info span {
  font-size: 34px;
  color: white;
}

.info h1 {
  font-size: 64px;
  margin: 10px 0;
  color: white;
}

.info p {
  width: 50%;
  font-size: 16px;
  line-height: 1.5;
  color: rgb(240, 240, 240);
}

.log {
  margin-top: 20px;
}

.log a {
  display: inline-block;
  margin-right: 10px;
  padding: 15px 25px;
  background-color: rgba(240, 240, 240, 0.3);
  border: 2px solid white;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  font-size: 14px;
  transition: background-color 0.3s ease-in-out;
}

.log a:hover {
  background-color: rgba(0, 0, 0, 0.1);

}


@media screen and (max-width:650px) {
  .info span {
    font-size: 24px;
    color: white;
  }

  .info h1 {
    font-size: 28px;
    margin: 10px 0;
    padding: 10px;
    color: white;
  }

  .info p {
    width: 80%;
  }

  .swiper-container {
    height: 80vh;
  }


}


.general-container {
  width: 100%;
  display: flex;
  overflow: auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: radial-gradient(closest-corner at  70%, #b037dd, #0F1123 );
}

.general-switchs {
  width: 97%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 60px 0px;
}

.general,
.account,
.deposit,
.withdrawal {
  width: 340px;
  height: 150px;
  border-radius: 10px;
  box-shadow: 0px 0px 3px lightgray;
  margin: 15px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


.general:hover,
.account:hover,
.deposit:hover,
.withdrawal:hover{
  background-color: rgba(255, 255, 255,0.1);
}

.general:focus,
.account:focus,
.deposit:focus,
.withdrawal:focus{
  outline: none;
  background-color: rgba(255, 255, 255,0.2);
} 

.general > .fa-solid,
.account > .fa-solid,
.deposit > .fa-solid,
.withdrawal > .fa-solid {
  font-size: 1.7rem;
}

@media screen and (max-width:650px) {
.general,
.account,
.deposit,
.withdrawal {
  flex-direction: row;
  font-size: 0.5rem;
  padding: 10px 15px;
  height: fit-content;
}

.general > .fa-solid,
.account > .fa-solid,
.deposit > .fa-solid,
.withdrawal > .fa-solid {
  font-size: 1.3rem;
  padding: 10px 15px;
}

.general-switchs {
  overflow: auto;
  justify-content: flex-start;
}
}

.gen,
.acc,
.depo,
.withd {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s ease;
}

.gen > ul,
.acc > ul,
.depo > ul,
.withd > ul {
  width: 95%;
  transition:  1s ease-in-out;
}

.gen > ul > li,
.acc > ul > li,
.depo > ul > li,
.withd > ul > li {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 15px 0px;
  font-size: 1.3rem;
  color: white;
  border-top: 1px solid ;
  cursor: pointer;
  font-weight:600;
  margin: 10px 0px;
  transition:  1s ease-in-out;
}

.gen > ul > span,
.acc > ul > span,
.depo > ul > span,
.withd > ul > span {
  color: white;
  font-size: 1.2rem;
  line-height: 1.2;
  padding: 10px 0px;
  transition:  1s ease-in-out;
}


.homegen-con {
  width: 100%;
  height: fit-content;
  background-color: pink;
}
