* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

.service-central{
  width: 100%;
  background: radial-gradient(closest-corner at  80%,#2A6167 , #0F1123);

  padding: 10px;

}

.ourservice-mother {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 100px;
  background-color: #0F1123;
  color: white;
}

.ourservice-mother > h1 {
  margin: 10px 0px;
  font-size: 3rem;
}

.ourservice-mother > h2 {
  color: #18d5fe;
}

.service-container2 {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  column-gap: 20px;
}

.service-container2 > .ourservice-box {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: 40px;
  box-shadow: 0px 0px 3px gray;
  margin-top: 20px;
  border-radius: 10px;

}

.ourservice-box > .fa-solid {
  color: #18d5fe;
  font-size: 3rem;
}

.ourservice-box > span > .fa-brands {
  color: #18d5fe;
  font-size: 3rem;
}
.ourservice-box > span > .fa-solid {
  color: #18d5fe;
  font-size: 3rem;
}

.ourservice-box > h3 {
  margin: 20px 0px;
  color: #18d5fe;
}

.ourservice-box > p {
  color: grey;
  line-height: 25px;
}

.ourservice-box > span {
  display: flex;
}

.service-mother {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

.service-mother > .features-box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0px 10px;
}

.features-box > h1 {
  margin-top: 90px;
  color: #18d5fe;
  font-size: 3rem;
}

.features-box > p {
  color: grey;
  font-weight: bold;
  font-size: 13px;
  text-align: center;
}

.service-container1 {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  column-gap: 30px;
  row-gap: 10px;
  padding: 30px 100px;
}

.service-box {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 30px;
}

.service-box > span > p {
  margin: 8px 0px;
  color: grey;
}

.service-box > span > h3 {
  font-size: 1.5rem;
  margin: 15px 0px;
}

.service-box > .fa-solid {
  font-size: 3rem;
  color: #18d5fe;
  margin-top: 25px;
}

.count-container {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: white;
  padding: 0px 150px;
}

.count-container > .count-box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.count-box > .fa-solid {
  color: #18d5fe;
  font-size: 3rem;
}

.count-box > h2 {
  color: #18d5fe;
}


.service-container3{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    background:radial-gradient(closest-corner at 20% 50%, blueviolet, #0F1123) ;
    gap: 10px;
    padding: 60px ;
    color: white;
}

.service-container3 > .service-box3{
    width: 60%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
    flex-direction: column;
}

.service-box3 h2{
  line-height: 2.5rem;
  color: lightgray;

}



@keyframes image {
    0% {
        scale: 1.i;
    }

    100%{
        scale: 1.1;
    }
}

.service-box3 > h1{
        font-size: 3rem;
}

.service-box3 > span{
        display: flex;
        gap: 6px;
}

.service-box3 > span > .service-link{
    text-decoration: none;
    color: #18d5fe;
}

.service-box3 > .box3-card > img{
    width: 70%;
    height: 50%;
}







@media screen and (max-width: 768px) {
  .service-container1 {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 3fr);
    padding: 10px;
  }

  .count-container {
    width: 100%;
    padding: 10px;
  }

  .ourservice-mother{
    width: 100%;
    padding: 10px;
  }

  .service-container2 > .ourservice-box{
    width: 100%;
    height: fit-content;
    padding: 20px 10px;
  }

  .service-box3 > h2{
    font-size: 1rem;
    line-height: 1.8rem;
  }

  
}

@media screen and (max-width: 650px) {

  .service-central{
    width: 100%;
    padding: 10px;
  }

  .service-mother {
    width: 100%;
    padding: 0px 15px;
  }
  .service-container1 {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .service-box > .fa-solid {
    font-size: 2.5rem;
  }

  .features-box > h1 {
    font-size: 2.2rem;
  }

  .count-container {
    width: 100%;
    height: fit-content;
    flex-direction: column;
    padding: 60px 10px;
  }

  .count-container > .count-box {
    width: 100%;
    margin: 20px 0px;
  }

  .ourservice-mother {
    width: 100%;
    padding: 20px 10px;
  }

  .ourservice-mother > h2{
    font-size: 1rem;
    text-align: center;
  }

  .ourservice-mother > h1{
    font-size: 2.5rem;
  }

  .service-container2 {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .service-container2 > .ourservice-box{
    width: 100%;
    height: fit-content;
  }

  .service-container3{
    width: 100%;
    flex-direction: column;
    padding: 20px 10px;
  }

 .service-container3 > .service-box3{
    width: 100%;
    height: fit-content;
  }

  .service-box3 > h2{
    font-size: 1rem;
    line-height: 1.8rem;
  }


}
